In [16]:
import pandas as pd

# read data from webpage, this will load entire html form, return list of dataframe
df_list = pd.read_html('https://pandas.pydata.org/docs/user_guide/io.html')

In [17]:
print(type(df_list))

print(df_list)

<class 'list'>
[   Format Type       Data Description          Reader        Writer
0         text                    CSV        read_csv        to_csv
1         text  Fixed-Width Text File        read_fwf           NaN
2         text                   JSON       read_json       to_json
3         text                   HTML       read_html       to_html
4         text        Local clipboard  read_clipboard  to_clipboard
5          NaN               MS Excel      read_excel      to_excel
6       binary           OpenDocument      read_excel           NaN
7       binary            HDF5 Format        read_hdf        to_hdf
8       binary         Feather Format    read_feather    to_feather
9       binary         Parquet Format    read_parquet    to_parquet
10      binary             ORC Format        read_orc           NaN
11      binary                Msgpack    read_msgpack    to_msgpack
12      binary                  Stata      read_stata      to_stata
13      binary                    SAS        read_sas           NaN
14      binary                   SPSS       read_spss           NaN
15      binary   Python Pickle Format     read_pickle     to_pickle
16         SQL                    SQL        read_sql        to_sql
17         SQL        Google BigQuery        read_gbq        to_gbq,          0                                                  1
0    split  dict like {index -> [index], columns -> [colum...
1  records  list like [{column -> value}, … , {column -> v...
2    index             dict like {index -> {column -> value}}
3  columns             dict like {column -> {index -> value}}
4   values                              just the values array,          0                                                  1
0    split  dict like {index -> [index], columns -> [colum...
1  records  list like [{column -> value}, … , {column -> v...
2    index             dict like {index -> {column -> value}}
3  columns             dict like {column -> {index -> value}}
4   values                              just the values array
5    table                  adhering to the JSON Table Schema,        Pandas type Table Schema type
0            int64           integer
1          float64            number
2             bool           boolean
3   datetime64[ns]          datetime
4  timedelta64[ns]          duration
5      categorical               any
6           object               str,    Unnamed: 0         0         1
0           0 -0.184744  0.496971
1           1 -0.856240  1.857977,    Unnamed: 0         0
0           0 -0.184744
1           1 -0.856240,    Unnamed: 0         0         1
0           0 -0.184744  0.496971
1           1 -0.856240  1.857977,    Unnamed: 0         0         1
0           0 -0.184744  0.496971
1           1 -0.856240  1.857977,    Unnamed: 0    name                        url
0           0  Python    https://www.python.org/
1           1  Pandas  https://pandas.pydata.org,    Unnamed: 0  a         b
0           0  & -0.474063
1           1  < -0.230305
2           2  > -0.400654,    Unnamed: 0  a         b
0           0  & -0.474063
1           1  < -0.230305
2           2  > -0.400654,                                                 Type Represents missing values
0               floating : float64, float32, float16                    np.nan
1  integer : int64, int32, int8, uint64,uint32, u...                       NaN
2                                            boolean                       NaN
3                                     datetime64[ns]                       NaT
4                                    timedelta64[ns]                       NaT
5                categorical : see the section below                       NaN
6                                   object : strings                    np.nan,                                                 0  \
0    read_sql_table(table_name, con[, schema, …])
1        read_sql_query(sql, con[, index_col, …])
2              read_sql(sql, con[, index_col, …])
3  DataFrame.to_sql(self, name, con[, schema, …])

                                                   1
0          Read SQL database table into a DataFrame.
1                   Read SQL query into a DataFrame.
2  Read SQL query or database table into a DataFr...
3  Write records stored in a DataFrame to a SQL d...  ,    id        Date Col_1  Col_2  Col_3
0  26  2012-10-18     X  25.70   True
1  42  2012-10-19     Y -12.40  False
2  63  2012-10-20     Z   5.73   True,      Database                     SQL Datetime Types Timezone Support
0      SQLite                                   TEXT               No
1       MySQL                  TIMESTAMP or DATETIME               No
2  PostgreSQL  TIMESTAMP or TIMESTAMP WITH TIME ZONE              Yes]

In [18]:
df = df_list[0]
df

   Format Type       Data Description          Reader        Writer
0         text                    CSV        read_csv        to_csv
1         text  Fixed-Width Text File        read_fwf           NaN
2         text                   JSON       read_json       to_json
3         text                   HTML       read_html       to_html
4         text        Local clipboard  read_clipboard  to_clipboard
5          NaN               MS Excel      read_excel      to_excel
6       binary           OpenDocument      read_excel           NaN
7       binary            HDF5 Format        read_hdf        to_hdf
8       binary         Feather Format    read_feather    to_feather
9       binary         Parquet Format    read_parquet    to_parquet
10      binary             ORC Format        read_orc           NaN
11      binary                Msgpack    read_msgpack    to_msgpack
12      binary                  Stata      read_stata      to_stata
13      binary                    SAS        read_sas           NaN
14      binary                   SPSS       read_spss           NaN
15      binary   Python Pickle Format     read_pickle     to_pickle
16         SQL                    SQL        read_sql        to_sql
17         SQL        Google BigQuery        read_gbq        to_gbq

- 上面表格其實就是幾個pandas提供的df io
- 常用的通常是read_csv, read_json, read_html, read_excel
- 有時有輸出成其它格式需求，就使用對應的Writer, 常用有： to_csv, to_excel, to_json

In [19]:
# export dataframe to a csv file

df.to_csv('df_io.csv')
# check your files from current working directory

In [20]:
# if you don't need index, add parameter index=False

df.to_csv('df_io.csv', index=False)

In [22]:
# read the file you just exported
pd.read_csv('df_io.csv')

   Format Type       Data Description          Reader        Writer
0         text                    CSV        read_csv        to_csv
1         text  Fixed-Width Text File        read_fwf           NaN
2         text                   JSON       read_json       to_json
3         text                   HTML       read_html       to_html
4         text        Local clipboard  read_clipboard  to_clipboard
5          NaN               MS Excel      read_excel      to_excel
6       binary           OpenDocument      read_excel           NaN
7       binary            HDF5 Format        read_hdf        to_hdf
8       binary         Feather Format    read_feather    to_feather
9       binary         Parquet Format    read_parquet    to_parquet
10      binary             ORC Format        read_orc           NaN
11      binary                Msgpack    read_msgpack    to_msgpack
12      binary                  Stata      read_stata      to_stata
13      binary                    SAS        read_sas           NaN
14      binary                   SPSS       read_spss           NaN
15      binary   Python Pickle Format     read_pickle     to_pickle
16         SQL                    SQL        read_sql        to_sql
17         SQL        Google BigQuery        read_gbq        to_gbq