In [1]:
import numpy as np
import pandas as pd

In [2]:
s1 = pd.Series([1, 2, 3, 4])

In [3]:
s1

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
s1.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
s2 = pd.Series([1, 2, 3, 4], index=['A', 'B', 'C', 'D'])

In [6]:
s2

A    1
B    2
C    3
D    4
dtype: int64

In [7]:
s1

0    1
1    2
2    3
3    4
dtype: int64

In [8]:
s1.reindex(index=['A', 'B', 'C', 'D'])

# it's not replace original s1 index

A   NaN
B   NaN
C   NaN
D   NaN
dtype: float64

In [10]:
s1.reindex(index=[1, 2, 4], fill_value=10)

# it will assign default value 10 for those index without mapping value

1     2
2     3
4    10
dtype: int64

## Dataframe reindex

In [13]:
a = np.random.rand(15).reshape(3, 5)

In [14]:
a

array([[0.82086631, 0.65373089, 0.83684438, 0.18497743, 0.58089812],
       [0.13295541, 0.42764308, 0.1080096 , 0.44944086, 0.04165566],
       [0.70433667, 0.14884554, 0.21412339, 0.48368659, 0.2643082 ]])

In [19]:
df = pd.DataFrame(a, index=[1, 2, 3], columns=['A', 'B', 'C', 'D', 'E'])

In [25]:
df

          A         B         C         D         E
1  0.820866  0.653731  0.836844  0.184977  0.580898
2  0.132955  0.427643  0.108010  0.449441  0.041656
3  0.704337  0.148846  0.214123  0.483687  0.264308

In [26]:
df.reindex(index=[1, 2], columns=['C', 'D'])

          C         D
1  0.836844  0.184977
2  0.108010  0.449441

In [30]:
df.loc[:2, ['C', 'D']]

          C         D
1  0.836844  0.184977
2  0.108010  0.449441